@page "/pwd"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage pls
<h3>Password</h3>
<div class="container">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="password" >
        <button class="btn btn-outline-secondary" type="button"><i class="bi bi-floppy"></i>&nbsp;save</button>
    </div>
</div>
@code {

}
