@page "/pwd"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage pls
<h3>Password</h3>
<div class="container">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="password" @bind="Eingabe">
        <button class="btn btn-outline-secondary" type="button" @onclick="save"><i class="bi bi-floppy"></i>&nbsp;save</button>
    </div>
</div>
@code {
    string Eingabe;
    void save()
    {
        pls.SetAsync("hannes", Eingabe);
    }
    protected override async Task OnInitializedAsync()
    {
        var ret =await pls.GetAsync<string>("hannes");
        if (ret.Success)
        {
            Eingabe = ret.Value;

        }
    }
}
